@media @phone {
    .main-nav {
        // .test-border;
        .flex-mobile;
        h1 {
            // .test-border;
            margin-top: 4%;
            width: 100%;
            text-align: center;
            font-size: 3.0rem;
        }
    
        nav {
            // .test-border;
            margin-bottom: 2%;
            width: 100%;
            padding: 0;
        }
    }
    .home {
      padding: 0 5%;

      .content-section {
        // .test-border;
        flex-direction: column;
        height: auto;

        
        .text-content {
          width: 100%;
          padding: 0;
        }
    
        .img-content {
          max-width: 100%;
          width: 100%;
          height: auto;
          padding: 0;
        }
      }
    
      .inverse-content {
        flex-direction: column-reverse;
      }
    
      .content-destination {
        width: 100%;
      }
    
      .content-pick {
        flex-direction: column;
        padding-left: 10%;
        padding-right: 10%;
    
        .destination {
          // .test-border;
          width: 100%;
          margin-bottom: 30px;
        }
    
          .btn {
            .btn-style(3% 0);
            width: 100%;
          }
      }
    }// home
}
